## Visual Studio cache files
[Bb]in/
[Oo]bj/
.vs/
*.user
*.suo
*.userosscache

# Logs
*.log

# User-specific settings
appsettings.json
appsettings.Development.json
appsettings.*.json

# Environment variables
.env

# Rider
.idea/
*.sln.iml

# Tools
.dotnet/
*.deb