.chat-dock {
    position: fixed;
    bottom: 0;
    left: 20px;
    width: 320px;
    max-height: 400px;
    display: flex;
    flex-direction: column;
    border-top-left-radius: var(--mud-default-borderradius);
    border-top-right-radius: var(--mud-default-borderradius);
    padding-bottom: env(safe-area-inset-bottom);
}
