@using CMetalsWS.Data.Chat
@using CMetalsWS.Services

@inject ChatStateService ChatState

@implements IDisposable

<div class="ml-2">
    <MudMenu Icon="@Icons.Material.Filled.ChatBubble" Color="Color.Inherit" AnchorOrigin="Origin.BottomRight">
        <div class="pa-2" style="width: 350px;">
            <ChatThreadPanel OnThreadSelected="OnThreadSelected" />
        </div>
    </MudMenu>
</div>

@code {
    protected override void OnInitialized()
    {
        ChatState.OnChange += StateHasChanged;
    }

    private void OnThreadSelected(ThreadSummary thread)
    {
    ChatState.HandleThreadClick(thread);
    }

    public void Dispose()
    {
        ChatState.OnChange -= StateHasChanged;
    }
}
